# App
# ---------------
/build
/node_modules
/vendor

# App Dependencies
# ---------------


# System files
# ------------

Icon
.DS_Store
.vscode
.env
.env.*

# Temporary files
# ---------------

/www/media/*
!/www/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html


# Logs
# ---------------

/site/logs/*
!/site/logs/index.html

# License
# ---------------
/site/config/keys
/site/config/.license
