.meter {
    height: 24px; /* Can be anything */
    position: relative;
    background: #dadada;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.meter.is-small {
    height: 10px;
}
.meter.is-small > span {
    background-color: #02518a;
}

.meter > span {
    display: block;
    height: 100%;
    top: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    overflow: hidden;
}
.meter > span.meter-1 {
    background-color: #59c77f;
    z-index: 2;
}
.meter > span.meter-2 {
    background-color: #ff864d;
    z-index: 1;
}
