// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables

// Named Brand Colors
$solitude                   : #f8fcff;
$congress-blue              : #02518a;
$mariner                    : #2e86de;
$shakespeare                : #57b6d3;
$bondi-blue                 : #02b6bc;
$aqua-forest                : #57af7b;
$sea-green                  : #2db564;
$coral                      : #faa638;
$monza                      : #d0021b;

$red                        : $monza;
$blue                       : $mariner;
$green                      : $sea-green;
$orange                     : $coral;

// Primary Colors
$primary                    : $green;
$primary-invert             : findColorInvert($primary);
$secondary                  : $blue;
$secondary-invert           : findColorInvert($secondary);
$tertiary                   : $orange;
$tertiary-invert            : findColorInvert($tertiary);

// Alerts and messages
$danger                     : $red;
$danger-invert              : findColorInvert($danger);
$warning                    : $orange;
$warning-invert             : findColorInvert($warning);
$success                    : $green;
$success-invert             : findColorInvert($success);
$info                       : $blue;
$info-invert                : findColorInvert($info);

$facebook                   : $mariner;
$facebook-invert            : findColorInvert($facebook);
$email                      : $shakespeare;
$email-invert               : findColorInvert($email);
$text-message               : $aqua-forest;
$text-message-invert        : findColorInvert($text-message);
$copy-link                  : $bondi-blue;
$copy-link-invert           : findColorInvert($copy-link);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    'white'                 : ($white, $black),
    'black'                 : ($black, $white),
    'light'                 : ($light, $light-invert),
    'dark'                  : ($dark, $dark-invert),
    'primary'               : ($primary, $primary-invert),
    'secondary'             : ($secondary, $secondary-invert),
    'tertiary'              : ($tertiary, $tertiary-invert),
    'info'                  : ($info, $info-invert),
    'success'               : ($success, $success-invert),
    'warning'               : ($warning, $warning-invert),
    'danger'                : ($danger, $danger-invert),
    'facebook'              : ($facebook, $facebook-invert),
    'email'                 : ($email, $email-invert),
    'text-message'          : ($text-message, $text-message-invert),
    'copy-link'             : ($copy-link, $copy-link-invert),
);

// Typography
$font-path                  : "/assets/dashboard/fonts";
$family-serif               : "Merriweather", "Georgia", serif;
$family-sans-serif          : 'Source Sans Pro', 'Roboto', sans-serif;
$family-monospace           : "Operator Mono", "Roboto Mono", "Consolas", monospace;
$family-primary             : $family-sans-serif;


// Font Weight
$weight-light               : 300;
$weight-normal              : 400;
$weight-medium              : 500;
$weight-semibold            : 600;
$weight-bold                : 700;

// Links
$link                       : $secondary;
$link-invert                : $secondary-invert;
$link-focus-border          : $secondary;

$label-weight               : $weight-light;
