//This fixes the bottom-of-page whitespace bug on android.
html {
    min-height: 100vh !important;
}

.hand-stack-bg {
    background: url('/assets/dashboard/images/bg-hand-stack.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
    line-height: 1.80;
}
.btn-drop-shadow {
    box-shadow: 0 2px 8px 0 rgba(46,134,222,0.2);
}

.btn-grey {
    background-color: #EEF2F7;
    border: 1px solid rgba(0,0,0,0.1);
    color: #4A4A4A;
}

.btn-white-outline {
    border: 2px solid white;
    color: white;
}

.btn-white-outline:hover {
    color: white;
}

.btn-white-outline:focus {
    box-shadow: 0 0 7px #ccc;
}

.gap-strike {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.gap-strike span {
    display: table-cell;
}

.gap-strike .strike {
    position: relative;
}

.gap-strike .strike:before {
    background: white;
    content: " ";
    height: 1px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
}

.modal a {
    word-wrap: break-word;
}

.progress-bar-thin{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:7px;
    background-color: rgba(222,222,222,0.51);
}

.progress-success{
    transition: all .85s ease-in-out;
    background-color: #41F5CD;
    height:7px;
}

.registration {
    max-width:300px;
    text-align:center;
    margin:auto;

    .registration-form-constraint {
        max-width: 245px;
    }

    .phone-tip{
        position:absolute;
        top:11px;
        right:-22px;
    }
    .birthday-tip{
        position: absolute;
        top: 14px;
        right: -22px;
    }
    .email-acceptance-tip{
        position: absolute;
        top: 6px;
        right: -22px;
    }
    .parent_login{
        color: #fff;
        font-weight:bold;
    }

    select{
        padding:0px;
        margin:2px;
        font-size:14px;
        option {

            padding:0px;
        }
    }
    label input[type="checkbox"]{
        vertical-align: middle;
    }

    input[type="checkbox"]{
        vertical-align:middle;
        transform:scale(1.25);
    }

    #print-terms{
        text-decoration:underline;
        color:#fff;
    }
}
.error-msg{
    font-weight:400;
    font-size:11px;
    &.is-large {
        font-size: 15px;
    }
}

.btn{
    font-weight:600;
}

@media (min-width: 813px) {
    .gap-strike .strike:before {
        background-color: #222F3E;
    }
    .registration{
        .parent_login{
            color: #000;
            font-weight:bold;
        }
        #print-terms{
            color: #000;
        }
    }
    .error-msg{
        color:red;
    }
    .btn-813-dk-grey-outline {
        border: 2px solid #576574;
        color: #576574;
    }

    .btn-813-dk-grey-outline:hover {
        color: #576574;
    }

    .d-813-none {
        display: none !important;
    }
    .d-813-flex {
        display: flex !important;
    }

    #print-terms{
        color:#000 !important;
    }
}
